.filter{
    display: flex;
    align-items: center;
    color: white;
    font-weight: 300;
    font-size: 21px;
}

.filter-title{
    margin-right: 10px;
}

.filter-btn{
    padding: 7px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.313);

}

.active-filter-btn{
    background-color: white;
}