.nav{
    position:fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    padding-bottom: 27px;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.891) 90%,transparent);
    z-index:10000;
}

.nav-logo{
    width:100px;
    object-fit: contain;
    cursor: pointer;

}

.nav-avatar{
    width:35px;
}